/*
******
Reset
******
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--blackrussianbody);
}

.barra-laterale {
  color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*
******
Typography
******
*/

:root {
  --black: #000000;
  --white: #ffffff;
  --lightgrey: #d2d2d2;
  --dimgray: #6d6d6d;
  --gray: #808080;
  --blackrussian: #080b12;
  --blackrussianbody: #141922;
  --nero: #282828;
  --greenyellow: #adff2f;
}

/*
******
Debug
******
*/

/*
******
Common
******
*/

.barra-laterale #logo-small {
  display: none;
}

/*
******
Body
******
*/

nav {
  margin: 0 auto;
  height: 150px;
  width: 600px;
  padding-top: 120px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav ul li {
  color: #7d7f84;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 10px;
}

/*
******
Main
******
*/

/* BARRA LATERALE */

.barra-laterale {
  flex-direction: column;
  width: 230px;
  background-color: black;
  position: fixed;
  height: calc(100vh - 100px);
  display: flex;
}

.barra-laterale #logo-big {
  padding: 30px 80px 0 20px;
  display: block;
  width: 250px;
}

.barra-laterale .menu ul {
  margin-top: 40px;
}

.barra-laterale .menu ul li {
  width: 50px;
  display: flex;
  align-items: center;
  padding: 0 0 15px 20px;
}

.barra-laterale.menu ul li img {
  width: 10%;
  height: auto;
  display: block;
}

.barra-laterale .menu ul li span {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--dimgray);
}

/*PLAYLIST */

.playlist {
  width: 80%;
  margin: 0 auto;
  flex-grow: 1;
}

.playlist h4 {
  margin-top: 10px;
}

.crea-playlist {
  margin-top: 10px;
}

.crea-playlist i {
  font-size: 40px;
  vertical-align: middle;
  color: var(--dimgray);
}

.crea-playlist span {
  vertical-align: middle;
  margin-left: 10px;
  font-weight: 700;
  color: var(--dimgray);
}

.playlist ul {
  margin-top: 15px;
  max-height: 150px;
  overflow-y: scroll;
}

.playlist ul li {
  text-align: left;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--dimgray);
}

/* BARRA LATERALE FOOTER */

.footer-barra-laterale {
  padding: 20px 0 10px 20px;
  bottom: 100px;
  background-color: black;
}

.footer-barra-laterale .installa {
  color: var(--dimgray);
  padding-bottom: 10px;
}

hr {
  width: 190px;
  margin-top: 3px;
  border-color: var(--bg-grigio-nav);
}

.footer-barra-laterale .profilo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer-barra-laterale .foto-profilo {
  background-color: #6e6e6e;
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.footer-barra-laterale img {
  width: 100%;
  object-fit: cover;
}

.footer-barra-laterale span {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
}

/* --------------------------------------- */
/* AGGIORNAMENTO REVERT NON COMMIT */

.content {
  margin-left: 230px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  padding-bottom: 100px;
}

.aggiornamento {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 0;
  text-align: right;
  position: fixed;
  right: 0;
  left: 230px;
  height: 100px;
}

.aggiornamento button {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 30px;
  margin-right: 25px;
}

.aggiornamento button a {
  color: white;
  text-decoration: none;
  word-spacing: 2px;
  font-weight: 700;
}

.last-view {
  margin: 30px auto 0;
  width: 98%;
}

.last-view h2 {
  margin-bottom: 20px;
  color: var(--white);
}

.cont-last-view {
  display: flex;
  width: 100%;
}

.box {
  width: calc(100% / 6);
  padding: 0 0.5vw;
  text-align: center;
}

.cont-i,
.cont-i-cerchio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1vh;
}

.box .cont-i i,
.box .cont-i-cerchio i {
  position: absolute;
  color: white;
  font-size: 72px;
  display: none;
  z-index: 1;
}

.box img {
  width: 100%;
  display: block;
}

.box h4 {
  color: white;
  margin-bottom: 1vh;
  font-size: 14px;
}

.box h5 {
  color: var(--dimgray);
  font-size: 10px;
}

.create-new {
  margin: 30px auto 0;
  width: 98%;
}

.create-new h2 {
  color: var(--white);
  margin: 50px 0 10px;
}

.create-new h5 {
  color: #7d7f84;
  margin-bottom: 30px;
  font-size: 12px;
}

.album-for-you {
  width: 100%;
  display: flex;
}

.artists {
  margin: 30px auto 0;
  width: 98%;
}

.artists h2 {
  color: white;
  margin: 50px 0 10px;
}

.artists h5 {
  color: var(--dimgray);
  margin-bottom: 30px;
  font-size: 12px;
}

.artists .box img {
  border-radius: 50%;
}

/*
******
Header
******
*/

/*
******
Footer
******
*/

/* Footer-Principale */
.footer-navbar {
  background-color: black;
  position: absolute;
  bottom: 100px;
  padding: 20px 0 10px 20px;
}

.footer-navbar .installa {
  color: var(--dimgray);
  padding: 10px;
  border-bottom: 1px solid var(--dimgray);
}

.footer-navbar .utente {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer-navbar .cont-foto {
  width: 30px;
  height: 30px;
  background-color: var(--dimgray);
  border-radius: 50%;
  overflow: hidden;
}

.footer-navbar .cont-foto img {
  width: 100%;
  object-fit: cover;
}

.footer-navbar .utente span {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
}

/* Footer Sinistra */

footer {
  height: 100px;
  background-color: var(--nero);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-shrink: 1;
  z-index: 3;
}

.footer-sx {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
  width: 20%;
}

.footer-sx .album {
  display: flex;
}

.album .cont-img {
  width: 50px;
  height: 50px;
}

.album img {
  width: 100%;
}

.footer-sx .album .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 10px;
}

.footer-sx .album .info span {
  font-size: 10px;
  font-weight: 700;
  color: var(--dimgray);
}

.footer-sx .icons {
  display: flex;
  width: 20%;
  justify-content: left;
  gap: 15px;
}

.footer-sx .icons i {
  color: var(--dimgray);
}

/* FOOTER CENTRALE */

.footer-centro {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.footer-centro .controls {
  margin-bottom: 10px;
}

.footer-centro .controls i {
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-centro .controls i:nth-child(3) {
  font-size: 30px;
}

.footer-centro .timesong {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  justify-content: space-between;
}

.footer-centro .timesong span {
  font-size: 10px;
}

.footer-centro .timesong .linea {
  background-color: #7d7f84;
  border: 1px solid #7d7f84;
  width: 90%;
  height: 3px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  height: 5px;
  align-items: center;
  border: none;
}

.footer-centro .timesong .linea .scrollsong {
  border: 1px solid white;
  background-color: white;
  width: 20%;
  border-radius: 10px;
  height: 100%;
}

/* Footer Destra */

.footer-dx > * {
  padding: 0 15px;
}

.footer-dx {
  display: flex;
  align-items: center;
  width: 20%;
  color: var(--white);
}

.footer-dx .timesong {
  width: 100%;
}

.footer-dx .timesong .linea {
  width: 90%;
  height: 3px;
  background-color: #7d7f84;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: none;
}

.footer-dx .timesong .linea .scrollsong {
  width: 30%;
  border-radius: 10px;
  height: 100%;
  background-color: var(--white);
  border: 1px solid white;
}

/* <!-- Footer destra --> */

/*
******
Media Query
******
*/

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
